.registerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formDiv {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
gap: 20px;
}